header {
  background-color: #FDEDEC;
  padding-top: 25px;
}

.social-header {
    margin-top:  12px;
}
  .social-header a {
      color: #FDFEFE;
  }
    .social-header a .fa-inverse {
        color:#2A1000;
    }
.menu-bar {
  background-color:  #2A1000;
  margin-top: 20px;
}
  .menu-bar a{
    color: #FDFEFE;
    font-size: 16px;
    font-weight: 500;
  }
    .menu-bar a:hover{
      text-decoration: none;
      color: #F5B7B1;
    }

.menu-list {
	padding: 12px 0;
	margin-bottom: 0;
}
	.menu-list > li:not(:last-child) {
		margin-right: 40px;
  }

  .container-logo {
  max-height: 80px;
  }

  .main-img {
  height: 100%;
  width: 35%;
  }
  .carousel-img {
  height: 400px;
  }

  #slider-home {
    margin-bottom: 50px;
    max-height: 400px;
    min-height: 400 px;
  }

  #main > .container {
    box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
  }

  button:hover {
    background-color : #F5B7B1
  }

  .mar-top-80 {
    margin-top: 80px;
  }


  .sidebars-zone {
    background-color: #e0e0e0;
    padding-top: 20px;
  }
    .sidebars-zone h4 {
      font-size: 20px;
      border-bottom: 1px solid #9e9e9e;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
  
    .sidebars-zone a {
      margin-bottom: 18px;
      display: block;
    }

    .sidebars-zone a:hover {
      text-decoration: none;

    }


