body {
	//background-color: #DC2E2E;
	margin:0px;
  font-family: monospace;

}


form {
	width: 40%;
	height: auto;
	margin:auto;
	background-color: #77B88F;
	//padding: 25px 20px;
  padding: 25px;
	padding-left:50px !important;
	color: #FFFFFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;

}


.bordes-curvos{
	border-radius: 24px 24px 24px 24px;
	border: 0px solid #000000;
}


h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}


.input{
	width: 90%;
	margin-bottom: 12px;
	margin-right: 50px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border-bottom: 2px solid white;
	color: #77B88F;
	border-radius: 24px 24px 24px 24px;
}

.direccion-input{
	width: 95%  !important ;
}

.letf{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
}

.boton{
	width: 95%;
	background-color: #FFFFFF;
	padding: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.23);
}


.boton:hover {
	cursor: pointer;
}


@media (max-width: 800px){
	form{
		width: 100%;
	}
}



span{
	width: 100%;

}

h4{
	text-align: center;
}



.bontonProcesar{
	border-radius: 32px 32px 32px 32px;
	border: 1px solid #77B88F;
}




.botonContinuar{
margin: auto;
background-color: #FF4444 !important;
color: #FFFFFF !important;
}
